body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(43, 41, 41);
  font-size: 28px;
  font-weight: 100px;
  line-height: 25px;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(43, 41, 41);
  font-weight: 18px;
  font-weight: 100px;
  line-height: 18px;
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid rgb(204, 199, 199);
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  height: 50px;
  margin-right: 8px;
  width: 50px;
  margin-top: -20px;
}
.weather-temperature strong {
  font-size: 50px;
  line-height: 1;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -18px;
}
